{{ define "main" }} {{ partial "page-title.html" . }}

<section>
  <div class="uk-container uk-margin-xlarge-bottom">
    <div uk-filter="target: .js-filter">
      <ul
        class="js-filter uk-child-width-1-1 uk-child-width-1-4@m uk-text-center"
        uk-grid
        uk-height-match="target: > li > div > .fixy"
      >
            {{ $YoutubeUrlPre := "https://api.github.com" }}
            {{ $videos := getJSON $YoutubeUrlPre "/users/vedacomputing/gists" }}   

            {{ range $videos }}
        <li>
          <div class="uk-card uk-card-default" style="position: relative;">
            <div class="fixy">
              <div class="uk-card-media-top">
                <img
                  class="contain experience"
                  src="https://raw.githubusercontent.com/{{.full_name}}/master/github/logo/logo.svg"
                  alt="{{.owner.login}}"
                />
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">{{.name}}</h3>
                <p>{{.description}}</p>
              </div>
            </div>

            <div class="uk-card-footer">
              <a href="{{.html_url}}" class="uk-button uk-button-text"
                >Read more</a
              >
            </div>
          </div>
        </li>
            {{ else }}
            </ul>
              <p class="uk-text-center uk-text-lead"><i>No Courses have being Uploaded, Sorry.</i></p>
            {{end}}
      </ul>
    </div>
  </div>
</section>

{{ end }}
