{{ define "main" }}
{{ "<!-- Hexagon Stylesheet -->" | safeHTML }}
{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link rel="stylesheet" href="{{ $hexagons.Permalink | relURL}}">

{{ "<!-- Index -->" | safeHTML }}
{{ $index := resources.Get "css/index.css" | minify }}
<link rel="stylesheet" href="{{ $index.Permalink | relURL}}">

<section>
    <div class="uk-container uk-margin-xlarge-top uk-margin-xlarge-bottom">

        <h1 class="uk-heading-large">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
    </div>


</section>

<!-- Social -->

<div class="uk-text-center uk-margin-xlarge-bottom uk-margin-xlarge-top">
    <ul id="social-media" class="icons">
        {{ range .Site.Languages -}}
        {{ if ne .LanguageName $.Site.Language.LanguageName }}
        <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
        {{ end }}
        {{ end }}
        {{ if .Site.Data.homepage.social.twitter }}
        <li><a href="https://twitter.com/{{ .Site.Data.homepage.social.twitter }}" > <img
                    class="contain" src="https://cdn.svgporn.com/logos/twitter.svg" alt="Twitter" loading="lazy"></a></li>
        {{ end }} {{ if .Site.Data.homepage.social.linkedin }}
        <li><a href="https://www.linkedin.com/in/{{ .Site.Data.homepage.social.linkedin }}">
            <img class="contain" src="https://cdn.svgporn.com/logos/linkedin.svg" alt="LinkedIn" loading="lazy"> </a></li>
        {{ end }} {{ if .Site.Data.homepage.social.github }}
        <li><a href="https://github.com/{{ .Site.Data.homepage.social.github }}"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/github-icon.svg" alt="GitHub" loading="lazy"> </a></li>
        {{ end }} {{ if .Site.Data.homepage.social.gitlab }}
        <li><a href="https://gitlab.com/{{ .Site.Data.homepage.social.gitlab }}"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/gitlab.svg" alt="GitLab" loading="lazy"></a></li>
        {{ end }} {{ if .Site.Data.homepage.social.facebook }}
        <li><a href="https://www.facebook.com/{{ .Site.Data.homepage.social.facebook }}"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/facebook.svg" alt="Facebook" loading="lazy"></a></li>
        {{ end }} {{ if .Site.Data.homepage.social.instagram }}
        <li><a href="https://instagram.com/{{ .Site.Data.homepage.social.instagram }}"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/instagram-icon.svg" alt="Instagram" loading="lazy"></a></li>
        {{ end }}{{ if .Site.Data.homepage.social.gmail }}
        <li><a href="mailto:{{ .Site.Data.homepage.social.gmail }}@gmail.com" > <img
                    class="contain" src="https://cdn.svgporn.com/logos/google-gmail.svg" alt="Gmail" loading="lazy"></a></li>
        {{ end }}
    </ul>


</div>

<!-- /social -->

<!-- about -->

{{ if .Site.Data.homepage.about.enable }}

<section class="uk-margin-large-top">
    <div class="uk-container">
        <div class="uk-text-center">
            {{ with .Site.Data.homepage.about }}
            <p class="uk-text-lead">{{.content | markdownify}}</p>
            {{ with .button }}
            <a class="uk-button uk-button-text" href="{{.URL| absURL}}">{{.btnText}}</a>
            {{end}}
            {{end}}
        </div>
    </div>

</section>



{{ end }}

<!-- /about -->

<!-- Skills -->
{{ if .Site.Data.homepage.skill.enable }}

{{ range .Site.Data.homepage.skill.item }}
<div id="{{ replace (replace .title " " "_") "." "_" }}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{.title}}</h2>
        </div>
        <p>{{.description | safeHTML}}</p>
    </div>
</div>
{{ end }}

<section class="uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-container">
        <h1 class="uk-heading-line uk-text-center uk-heading-medium"><span>Skills</span></h1>

        <p class="uk-text-center uk-text-lead"><i>Click the images below to find out more</i></p>
        <div class="uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2 uk-text-center uk-flex-center"
            uk-grid>
            {{ range .Site.Data.homepage.skill.item }}
            <div class="imagemargin">
                <img class="contain skills" src="{{.logo}}" alt="{{.company}}" loading="lazy" style="cursor: pointer"
                    uk-toggle="target: #{{ replace (replace .title " " "_") "." "_" }}">
                <h4>{{.title }}</h4>
            </div>
            {{ end }}
        </div>

    </div>

</section>

{{ end }}

<!-- /skills -->


<!-- Projects -->

{{ if .Site.Data.homepage.projects.enable }}

<section class="uk-margin-xlarge-bottom">
    <div class="uk-container">

        <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Latest Projects</span></h1>
        <p class="uk-text-center uk-text-lead">Lastest Projects, go to the <i>Projects Page</i> to see all of them.</p>

        <div class="uk-grid-large uk-child-width-1-3@s uk-child-width-1  uk-text-center uk-flex-center" uk-grid
            style="padding-left: 20px; padding-right: 20px">

            {{ $GitHubUrlPre := "https://api.github.com" }}
            {{ $repo := getJSON $GitHubUrlPre "/users/vedacomputing/repos?sort=updated" }}   

            {{ range first 5 $repo }}
            <div>
                <div class="uk-card uk-card-default uk-height-max-large">
                    <div class="uk-card-media-top">
                        <a href="{{.html_url}}" class="imagemargin" target="blank">
                            <img class="contain projects" src="https://raw.githubusercontent.com/{{.full_name}}/master/github/logo/logo.svg" alt="{{.owner.login}}" loading="lazy" style="padding: 20px">
                        </a>
                    </div>
                    <div class="uk-card-body" style="padding-top: 0">
                        <div style="height: 5em">
                            <h3 class="uk-card-title uk-heading-small">{{.name}}</h3>
                        </div>
                        <p>{{.description}}</p>
                        <img alt="GitHub top language" src="https://img.shields.io/github/languages/top/vedacomputing/{{.name}}">
                        <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/vedacomputing/{{.name}}">
                        <img alt="GitHub forks" src="https://img.shields.io/github/forks/vedacomputing/{{.name}}?style=social">
                        <img alt="GitHub stars" src="https://img.shields.io/github/stars/vedacomputing/{{.name}}?style=social">
                        <img alt="GitHub watchers" src="https://img.shields.io/github/watchers/vedacomputing/{{.name}}?style=social">
                    </div>
                </div>  
            </div>
            


            {{ end }}
        </div>
    </div>

</section>
{{ end }}

<!-- ./Projects -->

<!-- Blog Posts -->

{{ if .Site.Data.homepage.blogposts.enable }}

<section class="uk-margin-xlarge-bottom">
    <div class="uk-container">

        <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Blog Posts</span></h1>
        <p class="uk-text-center uk-text-lead">Lastest Blogs, go to the <i>Blog Page</i> to see all of them.</p>

        <div class="uk-grid-large uk-child-width-1-3@s uk-child-width-1  uk-text-center uk-flex-center" uk-grid
            style="padding-left: 20px; padding-right: 20px">

            {{ range last 5 ( where .Site.RegularPages "Section" "blog") }}
            <div>
                <div class="uk-card uk-card-default uk-height-max-large">
                    <div class="uk-card-media-top">
                        <a href="{{.Permalink | relURL}}" class="imagemargin" target="blank">
                            <img class="contain projects" src="{{.Params.image}}" alt="{{.Params.author}}" loading="lazy" style="padding: 20px">
                        </a>
                    </div>
                    <div class="uk-card-body" style="padding-top: 0">
                        <div style="height: 5em">
                            <h3 class="uk-card-title uk-heading-small">{{.Params.title}}</h3>
                        </div>
                        <h4>by {{.Params.author}}</h4>
                        <p>{{.Params.description}}</p>
                    </div>
                </div>  
            </div>
            


            {{ end }}
        </div>
    </div>

</section>

{{ end }}

<!-- /Blog Posts -->



<!-- Tutorials -->

{{ if .Site.Data.homepage.tutorials.enable }}

<section class="uk-margin-xlarge-bottom">
    <div class="uk-container">

        <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Tutorials</span></h1>
        <p class="uk-text-center uk-text-lead">Lastest Tutorials, go to the <i>Tutorials Page</i> to see all of them.</p>


        <div class="uk-grid-large uk-child-width-1-3@s uk-child-width-1  uk-text-center uk-flex-center" uk-grid
            style="padding-left: 20px; padding-right: 20px">

            {{ $YoutubeUrlPre := "https://api.github.com" }}
            {{ $videos := getJSON $YoutubeUrlPre "/users/vedacomputing/gists" }}   
 
            {{ range first 5 $videos }}
            <div>
                <div class="uk-card uk-card-default uk-height-max-large">
                    <div class="uk-card-media-top">
                        <a href="url here" class="imagemargin" target="blank">
                            <img class="contain projects" src="logohere" alt="" loading="lazy" style="padding: 20px">
                        </a>
                    </div>
                    <div class="uk-card-body" style="padding-top: 0">
                        <div style="height: 5em">
                            <h3 class="uk-card-title uk-heading-small">put name here</h3>
                        </div>
                        <p>description here</p>
                    </div>
                </div>  
            </div>
            

            {{ else }}

            <p class="uk-text-center uk-text-lead"><i>No Tutorials have being Uploaded, Sorry.</i></p>


            {{ end }}
        </div>
    </div>

</section>

{{ end }}

<!-- /Tutorials -->

<!-- education -->

{{ if .Site.Data.homepage.learning.enable }}

<section class="uk-margin-xlarge-bottom">
    <div class="uk-container">

        <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Learning</span></h1>
        <p class="uk-text-center uk-text-lead">Lastest Courses, go to the <i>Learning Page</i> to see all of them.</p>

        <div class="uk-grid-large uk-child-width-1-3@s uk-child-width-1  uk-text-center uk-flex-center" uk-grid
            style="padding-left: 20px; padding-right: 20px">

            {{ $YoutubeUrlPre := "https://api.github.com" }}
            {{ $repo := getJSON $YoutubeUrlPre "/users/vedacomputing/repos?sort=updated" }}   

            {{ range first 5 $repo }}
            <div>
                <div class="uk-card uk-card-default uk-height-max-large">
                    <div class="uk-card-media-top">
                        <a href="{{.html_url}}" class="imagemargin" target="blank">
                            <img class="contain projects" src="https://raw.githubusercontent.com/{{.full_name}}/master/github/logo/logo.svg" alt="{{.owner.login}}" loading="lazy" style="padding: 20px">
                        </a>
                    </div>
                    <div class="uk-card-body" style="padding-top: 0">
                        <div style="height: 5em">
                            <h3 class="uk-card-title uk-heading-small">{{.name}}</h3>
                        </div>
                        <p>{{.description}}</p>
                        <img alt="GitHub top language" src="https://img.shields.io/github/languages/top/vedacomputing/{{.name}}">
                        <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/vedacomputing/{{.name}}">
                        <img alt="GitHub forks" src="https://img.shields.io/github/forks/vedacomputing/{{.name}}?style=social">
                        <img alt="GitHub stars" src="https://img.shields.io/github/stars/vedacomputing/{{.name}}?style=social">
                        <img alt="GitHub watchers" src="https://img.shields.io/github/watchers/vedacomputing/{{.name}}?style=social">
                    </div>
                </div>  
            </div>
            


            {{ end }}
        </div>
    </div>

</section>
{{ end }}

<!-- /education -->


{{ end }}